<?xml version="1.0" ?>

<!-- Based on nao_bringup/launch/nao_full_py.launch -->

<launch>

  <arg name="nao_ip"          default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port"        default="$(optenv NAO_PORT 9559)" />

  <!-- Add diagnostics -->
  <node pkg="diagnostic_aggregator" type="aggregator_node"
        name="diag_agg" clear_params="true">
    <rosparam command="load"
              file="$(find nao_bringup)/config/nao_analysers.yaml" />
  </node>

  <!-- Upload NAO robot, the base footprint and the state publisher -->
  <include file="$(find nao_kinect_teleop)/launch/display.launch" >
    <arg name="version"   value="V40" />
    <arg name="config_file"
         value="$(find nao_kinect_teleop)/config/nao-base-footprint.rviz"/>
  </include>

  <!-- Show a blue floor -->
  <node pkg="nao_kinect_teleop" type="floor_publisher" name="floor_publisher">
  </node>

  <!-- Bridge NAOqi sensors to ROS
       Publish /joint_states, /joint_stiffness, /odom, /imu from NAOqi to ROS
       topics. Also add logs to /rosout
       TODO: disable reading joint_stiffness here??
  -->
  <include file="$(find naoqi_driver_py)/launch/naoqi_driver.launch">
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>

  <!-- Bridge ROS to NAOqi actuators, and some default poses
       Provides services:
       * body_stiffness/enable, body_stiffness/disable
       * wakeup, rest (motionProxy.wakeup, rest)
       * life/enable, life/disable (lifeProxy.setState solitary or disabled)
       Subscribes to:
       * /joint_angles (motionProxy.setAngles(joint_names,joint_angles,speed))
       * /joint_stiffness (motionProxy.setStiffnesses)
  -->

  <include file="$(find naoqi_pose)/launch/pose_manager.launch" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
    <arg name="nao_port"      value="$(arg nao_port)" />
  </include>

  <!-- Publish NAOqi camera to ROS Topic (image_raw, camera_info -->
  <include file="$(find naoqi_sensors_py)/launch/camera.launch"
           ns="nao_robot/camera/top" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
  </include>
  <include file="$(find naoqi_sensors_py)/launch/camera.launch"
           ns="nao_robot/camera/bottom" >
    <arg name="nao_ip"        value="$(arg nao_ip)" />
    <arg name="source"        value="1" />
  </include>

  <!-- Speech -->
  <include file="$(find nao_apps)/launch/speech.launch" >
    <arg name="nao_ip" value="$(arg nao_ip)" />
  </include>

  <!-- Microphone -->
  <include file="$(find naoqi_sensors_py)/launch/microphone.launch"
           ns="nao_robot/microphone" >
    <arg name="nao_ip" value="$(arg nao_ip)" />
  </include>

</launch>
